/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"); */

@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'NIXGONM-Vb', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background-color: #FFFFFF;
    color: #413E3E;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.header-content {
    text-align: right;
}
div.heading {
    font-weight: bold;
    margin-top: 4ch;
}
div.profile-text {
    color: #000000;
    font-weight: 100;
    font-size: 18px;
    text-align: justify;
    line-height: 2.0;
}
/* .header-content h1 {
    margin: 0;
    margin-right: 20px;
} */
main {
    padding: 0 50px;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}
h1, h2 {
    margin: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
h3 {
    /* margin-top: 0;
    color: #413E3E; */
    color: #000000;
    font-weight: 1000;
}
ul {
    list-style-type: none;
    padding: 0;
    /* margin-top: 100px; */
}
li {
    margin-bottom: 10px;
}


.about-me-link {
    position: absolute;
    /* top:20px; */
    /* left: 350px; */
    /* color: #413E3E; */
    color: #000000;
    text-decoration: none;
}
.profile-image {
    border-radius: 10%;
    float: right;
    margin-left: 90px;
    width: 200px;
    height: auto;
}
.post {
    margin-bottom: 20px;
    display: flex;
}
.post-title {
    color: #413E3E;
    font-size: 24px;
    margin-bottom: 5px;
}
.post-description {
    font-size: 16px;
}
.post-image {
    margin-left: 20px;
    width: auto;
    height: 200px
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
    position: relative;
}
a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 1px;
    background-color: #ff6800;
}

.date {
    top: 110px;
    font-size: 15px;
    color: #888;
    font-style: italic;
}
.bold-light {
    font-weight: 300;
}
.bold-regular {
    font-weight: 400;
}
.bold-medium {
    font-weight: 500;
}
.bold-semi-bold {
    font-weight: 600;
}
.bold-bold {
    font-weight: 700;
}
.bold-extra-bold {
    font-weight: 1000;
}
::selection {
    background-color: #fff2cf;
    color: #000000;
}

.math-indent {
    display: block;    
    text-align: center;     
    font-size: 1.2em;       
    margin: 1em 0;           
}


code, pre code {
    font-family: 'Fira Code', 'Courier New', monospace;

}

code:not([class*="language-"]) {
    background-color: #fff2cf; 
    color: #000000; 
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #ff6800; 
}
.korean-text {
    font-family: 'Pretendard', sans-serif;
    font-weight: 300;
}
.responsive-image-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}
.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}
@media (min-width: 700px) {
    .responsive-image {
        max-width: 60%;
        margin: 0 auto;
    }

@media screen and (max-width: 768px) {
    div.profile-text {
        font-size: 16px;
        line-height: 1.6;
        text-align: left;  
        padding: 0 10px;   
    }

    .post {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .post-image {
        width: 100% !important;
        height: auto !important;
        max-width: 300px;
        margin-top: 10px;
    }
    
    .profile-image {
        max-width: 100%;
        height: auto;
    }
}}
